* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 20px;
  margin-bottom: 20px; 
}

ul {
  list-style-type: square;
}

li {
  margin-left: 10px;
}

.border {
  border-bottom: 2px solid black;
}

.border_1 {
  border-bottom: 1px solid #333d46;
}

.head {
  margin-top: 20px;
}

.margin {
  margin-top: 10px;
}

.container {
  max-width: 1160px;
}

.padding {
  padding-left: 20px;
}
